@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 186 0% 100%;
    --foreground: 186 0% 10%;
    --card: 186 0% 100%;
    --card-foreground: 186 0% 15%;
    --popover: 186 0% 100%;
    --popover-foreground: 186 95% 10%;
    --primary: 186 70.7% 30.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 186 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 148 10% 95%;
    --muted-foreground: 186 0% 40%;
    --accent: 148 10% 90%;
    --accent-foreground: 186 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 186 0% 100%;
    --border: 186 20% 82%;
    --input: 186 20% 50%;
    --ring: 186 70.7% 30.8%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 186 10% 10%;
    --foreground: 186 0% 100%;
    --card: 186 0% 10%;
    --card-foreground: 186 0% 100%;
    --popover: 186 10% 5%;
    --popover-foreground: 186 0% 100%;
    --primary: 186 70.7% 30.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 186 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 148 10% 25%;
    --muted-foreground: 186 0% 65%;
    --accent: 148 10% 25%;
    --accent-foreground: 186 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 186 0% 100%;
    --border: 186 20% 50%;
    --input: 186 20% 50%;
    --ring: 186 70.7% 30.8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}
